body {
  font-family: sans-serif;
  box-sizing: border-box;
  margin: 0 auto;
  /* background-image: url(../../img/background-2.jpg);
  
  background-position: center;
  background-size: cover; */
  background-color: #f8f9fa;
}

.main-header {
  display: flex;
  /* background-color: aqua; */
  justify-content: space-between;
  align-items: center;
  padding: 5px 15px;
  position: sticky;
  top: 0px;
  border-bottom: 3px solid #1864ab;
  background-color: #fff;
}

.main-navigations a:hover {
  text-decoration: underline;
  color: #364fc7;
}

.header-logo {
  height: 60px;
  width: 250px;
}

.main-navigations {
  font-size: 18pxpx;
  display: flex;
  gap: 30px;
  text-transform: uppercase;
}

.main-navigations a {
  text-decoration: none;
  color: #1971c2;
}
